<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        padding: 16px;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    .input {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    .input:focus {
        background-color: #ddd;
        outline: none;
    }

    .clearfix {
        display: flex;
        justify-content: space-around;
    }

    .custom-select-sp select {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        background-color: #f1f1f1;
        border: none;
        appearance: none;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .Sua {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .An {
        background-color: red;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .Hien {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<h2>Quản lý sản phẩm</h2>
<div style="text-align: center;">
    <input type="text" id="myInput" onkeyup="search_table_sp()" placeholder="Search for names.." title="Type in a name">
    <button class="button" onclick="document.getElementById('create').style.display='block'">Thêm sản phẩm</button>
    <!-- <button style="width:auto;">Lịch sử sản phẩm</button> -->
</div>

<table id="myTable">
    <tr class="header">
        <th>STT</th>
        <th>ID</th>
        <th>Danh Mục</th>
        <th>Ảnh</th>
        <th>Tên sản phẩm</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th>Số lượng</th>
        <th>Ngày thêm</th>
        <th>Ngày sửa</th>
        <th>Thể loại</th>
        <th>Hiển sản phẩm</th>
        <th colspan="2" class="cog"><i class="fa fa-cog" aria-hidden="true"></i></th>
    </tr>
    <% dataSp.forEach((data)=>{ %>
        <tr>
            <td>
                <%= SttSp +=1 %>
            </td>
            <td>
                <%= data.ID %>
            </td>
            <td style="color: <% if(data.show_lsp == 0) { %> #fe7c21 <% } else { %> #8acf18 <% } %>">
                <%= data.LoaiSanPham %>
            </td>
            <td>
                <img src="/admin/image/<%= data.imgName %>" alt="" style="max-width: 60px">
            </td>
            <td>
                <%= data.TenSanPham %>
            </td>
            <td>
                <%= data.GiaNhap %>
            </td>
            <td>
                <%= data.GiaBan %>
            </td>
            <td>
                <%= data.SoLuong %>
            </td>
            <td>
                <%= data.NgayNhap %>
            </td>
            <td>
                <%= data.update_at %>
            </td>
            <td style="color: <% if(data.show_xx == 0) { %> #fe7c21 <% } else { %> #8acf18 <% } %>">
                <%= data.XuatXu %>
            </td>
            <% if (data.show_sp==0) { %>
                <td style="color: #fe7c21;">Không</td>
                <% }else { %>
                    <td style="color: #8acf18;">Có</td>
                    <% } %>
                        <td class="cog">
                            <button onclick="document.getElementById('update<%= data.ID %>').style.display='block'"
                                class="Sua">Sửa</button>
                            <div id="update<%= data.ID %>" class="modal">
                                <span onclick="document.getElementById('update<%= data.ID %>').style.display='none'"
                                    class="close" title="Close Modal">&times;</span>
                                <form class="modal-content" action="/admin/san-pham/update/<%= data.ID %>" method="post"
                                    enctype="multipart/form-data">
                                    <div class="container">
                                        <h1 style="text-align:center;">Sửa sản phẩm</h1>
                                        <hr>

                                        <label for=""><b>Loại sản phẩm: </b></label>
                                        <div class="custom-select-sp">
                                            <select name="loaiSp" required>
                                                <option value="<%= data.ID_LoaiSanPham %>">
                                                    <%= data.LoaiSanPham %>
                                                </option>
                                                <% dataLsp.forEach((dataItem)=> {
                                                    if(dataItem.ID != data.ID_LoaiSanPham) { %>
                                                    <option value="<%= dataItem.ID %>">
                                                        <%= dataItem.LoaiSanPham %>
                                                    </option>
                                                    <% } }) %>
                                            </select>
                                        </div>

                                        </section>

                                        <label for=""><b>Ảnh: </b></label>
                                        <img src="/admin/image/<%= data.imgName %>" alt="" style="max-width: 60px">
                                        <input type="text" value="<%= data.imgName %>" name="imgName" hidden>
                                        <input class="input" type="file" name="fileImage" accept="image/*">

                                        <label for=""><b>Tên sản phẩm: </b></label>
                                        <input class="input" type="text" placeholder="Nhập tên sản phẩm" name="tenSp"
                                            value="<%= data.TenSanPham %>" required>

                                        <label for=""><b>Giá nhập: </b></label>
                                        <input class="input" type="number" placeholder="Nhập giá nhập" name="giaNhap"
                                            value="<%= data.GiaNhap %>" oninput="this.value = Math.abs(this.value)"
                                            min="0" required>

                                        <label for=""><b>Giá bán: </b></label>
                                        <input class="input" type="number" placeholder="Nhập giá bán" name="giaBan"
                                            value="<%= data.GiaBan %>" oninput="this.value = Math.abs(this.value)"
                                            min="0" required>

                                        <label for=""><b>Số lượng: </b></label>
                                        <input class="input" type="number" placeholder="Nhập số lượng" name="soLuong"
                                            value="<%= data.SoLuong %>" oninput="this.value = Math.abs(this.value)"
                                            min="0" required>

                                        <label for=""><b>Loại: </b></label>
                                        <div class="custom-select-sp">
                                            <select name="xuatXu" required>
                                                <option value="<%= data.ID_XuatXu %>">
                                                    <%= data.XuatXu %>
                                                </option>
                                                <% dataXx.forEach((dataItem)=> {
                                                    if(dataItem.ID != data.ID_XuatXu) { %>
                                                    <option value="<%= dataItem.ID %>">
                                                        <%= dataItem.XuatXu %>
                                                    </option>
                                                    <% } }) %>
                                            </select>
                                        </div>

                                        <div class="clearfix">
                                            <button type="button"
                                                onclick="document.getElementById('update<%= data.ID %>').style.display='none'"
                                                class="cancelbtn">Thoát</button>
                                            <button type="submit" class="CUDbtn">Sửa</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td>
                            <% if (data.show_sp==0) { %>
                                <button><a href="/admin/san-pham/show/<%= data.ID %>"  class="Hien">Hiện</a></button>
                                <% }else { %>
                                    <button><a href="/admin/san-pham/hidden/<%= data.ID %>" class="An">Ẩn</a></button>
                                <% } %>
                        </td>
        </tr>
        <% }) %>
</table>

<div id="create" class="modal">
    <span onclick="document.getElementById('create').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    <form class="modal-content" action="/admin/san-pham/create" method="post" enctype="multipart/form-data">
        <div class="container">
            <h1 style="text-align:center;">Thêm sản phẩm</h1>
            <hr>

            <label for=""><b>Loại sản phẩm: </b></label>
            <div class="custom-select-sp">
                <select name="loaiSp" required>
                    <option value="">--Chọn loại sản phẩm--</option>
                    <% dataLsp.forEach((data)=> { %>
                        <option value="<%= data.ID %>">
                            <%= data.LoaiSanPham %>
                        </option>
                        <% }) %>
                </select>
            </div>

            <label for=""><b>Ảnh: </b></label>
            <input class="input" type="file" name="fileImage" accept="image/*" required>
            <!-- <input type="text" hidden name="fileImageText"> -->

            <label for=""><b>Tên sản phẩm: </b></label>
            <input class="input" type="text" placeholder="Nhập tên sản phẩm" name="tenSp" required>

            <label for=""><b>Giá nhập: </b></label>
            <input class="input" type="number" placeholder="Nhập giá nhập" name="giaNhap"
                oninput="this.value = Math.abs(this.value)" min="0" required>

            <label for=""><b>Giá bán: </b></label>
            <input class="input" type="number" placeholder="Nhập giá bán" name="giaBan"
                oninput="this.value = Math.abs(this.value)" min="0" required>

            <label for=""><b>Số lượng: </b></label>
            <input class="input" type="number" placeholder="Nhập số lượng" name="soLuong"
                oninput="this.value = Math.abs(this.value)" min="0" required>

            <label for=""><b>Thể Loại: </b></label>
            <div class="custom-select-sp">
                <select name="xuatXu" required>
                    <option value="">-Chọn Thể Loại</option>
                    <% dataXx.forEach((data)=> { %>
                        <option value="<%= data.ID %>">
                            <%= data.XuatXu %>
                        </option>
                        <% }) %>
                </select>
            </div>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('create').style.display='none'"
                    class="cancelbtn">Thoát</button>
                <button type="submit" class="CUDbtn">Thêm</button>
            </div>
        </div>
    </form>
</div>

<!-- <div id="del" class="modal">
    <span onclick="document.getElementById('del').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/admin/san-pham/delete" method="post">
        <div class="container">
            <h1 style="text-align:center;">Thêm sản phẩm</h1>
            <hr>
            <label for=""><b>Tên loại sản phẩm: </b></label>
            <input class="input" type="text" placeholder="Nhập tên loại sản phẩm" name="nameLsp" required>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('del').style.display='none'" class="cancelbtn">Thoát</button>
                <button type="submit" class="CUDbtn">Thêm</button>
            </div>
        </div>
    </form>
</div> -->
<% /* %>
    <td class="cog">
        <button onclick="document.getElementById('del<%= data.ID %>').style.display='block'"
            style="width:auto;">Xóa</button>
        <div id="del<%= data.ID %>" class="modal">
            <span onclick="document.getElementById('del<%= data.ID %>').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <form class="modal-content" action="/admin/san-pham/delete/<%= data.ID %>" method="post"
                enctype="multipart/form-data">
                <div class="container">
                    <h1 style="text-align:center;">Xóa sản phẩm</h1>
                    <hr>
                    <table id="myTable_bottom" style="margin-bottom: 10px;">
                        <tr class="header_bottom">
                            <th>STT</th>
                            <th>ID</th>
                            <th>Loại sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá nhập</th>
                            <th>Giá bán</th>
                            <th>Số lượng</th>
                            <th>Ngày thêm</th>
                            <th>Ngày sửa</th>
                            <th>Thể Loại</th>
                        </tr>
                        <tr>
                            <td>
                                <%= SttSp %>
                            </td>
                            <td>
                                <%= data.ID %>
                            </td>
                            <td>
                                <%= data.LoaiSanPham %>
                            </td>
                            <td>
                                <img src="/admin/image/<%= data.imgName %>" alt="" style="max-width: 60px">
                                <input type="text" value="<%= data.imgName %>" name="imgName" hidden>
                            </td>
                            <td>
                                <%= data.TenSanPham %>
                            </td>
                            <td>
                                <%= data.GiaNhap %>
                            </td>
                            <td>
                                <%= data.GiaBan %>
                            </td>
                            <td>
                                <%= data.SoLuong %>
                            </td>
                            <td>
                                <% if(data.Ngay <10 ) { %> 0<%= data.Ngay %>
                                        <% } else { %>
                                            <%= data.Ngay %>
                                                <% } %> -
                                                    <% if(data.Thang <10 ) { %> 0<%= data.Thang %>
                                                            <% } else { %>
                                                                <%= data.Thang %>
                                                                    <% } %> -
                                                                        <%= data.Nam %>
                            </td>
                            <td>
                                <% if(data.NgayUp <10 ) { %> 0<%= data.NgayUp %>
                                        <% } else { %>
                                            <%= data.NgayUp %>
                                                <% } %> -
                                                    <% if(data.ThangUp <10 ) { %> 0<%= data.ThangUp %>
                                                            <% } else { %>
                                                                <%= data.ThangUp %>
                                                                    <% } %> -
                                                                        <%= data.NamUp %>
                            </td>
                            <td>
                                <%= data.XuatXu %>
                            </td>
                        </tr>
                    </table>
                    <div class="clearfix">
                        <button type="button"
                            onclick="document.getElementById('del<%= data.ID %>').style.display='none'"
                            class="cancelbtn">Thoát</button>
                        <button type="submit" class="CUDbtn">Xóa</button>
                    </div>

                </div>
            </form>
        </div>
    </td>
    <% */ %>