<div class="container-fuild">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="/admin/login"><img src="https://lambanner.com/wp-content/uploads/2020/07/28-MNT-DESIGN-MAU-LOGO-MIEN-PHI-TOI-GIAN.jpg" alt="" style="height: 80px; height: 80px;"></a>
        </li>
        <li>
            <form class="d-flex" style="margin-top: 11%;" method="post" action="/customer/san-pham/search">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm ..." aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit" style="color: white; background-color: #0080ff;">Tìm kiếm</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/customer/home">Trang chủ</a>
        </li>
        <li class="nav-item dropdown" id="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sản phẩm
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% dataHeaderSp.forEach((data) => { 
                        %>
                        <li><a class="dropdown-item" href="/customer/san-pham/loai-san-pham/<%= data.ID %> "><%= data.Ten %></a></li>
                    <% 
                }) %>
                
            </ul>
        </li>
        <li class="nav-item dropdown" id="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Thể loại
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% dataHeaderXx.forEach((data) => { 
                        %>
                        <li><a class="dropdown-item" href="/customer/san-pham/xuat-xu/<%= data.ID %> "><%= data.XuatXu %></a></li>
                    <% 
                }) %>
                
            </ul>
        </li>
        <% if(!sessionID) { %>
            <li class="nav-item">
                <button type="button" class="btn btn-success"><a href="/customer/login">Đăng nhập</a></button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger"><a href="/customer/signup">Đăng ký</a></button>
            </li>
        <% } else { %>
            <li class="nav-item dropdown" id="dropdown">
                <button class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: #404040; color: white;border: 0px;">
                Tài khoản: <%= sessionID.TenTK %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/customer/changePass">Đổi mật khẩu</a></li>
                <li><a class="dropdown-item" href="/customer/cart">Giỏ hàng</a></li>
                <li><a class="dropdown-item" href="/customer/don-hang">Đơn hàng hiện có</a></li>
                <li><a class="dropdown-item" href="/customer/don-hang/lich-su">Lịch sử đặt hàng</a></li>
                <li><a class="dropdown-item" href="/customer/login">Đăng xuất</a></li>
                </ul>
            </li>
        <% } %>
    </ul>
    <script src="/customer/js/popper.min.js"></script>
    <script src="/customer/js/bootstrap.min.js"></script>
</div>