<body>
    <% dataHomeLsp.forEach((dataLsp) => { %>
        <div class="container">
            <div class="Tieu_de" style="margin-top: 10px;">
                <div>
                    <%= dataLsp.Ten %>
                </div>
            </div>
            <div class="row">
                <% dem = 1; dataHomeSp.forEach((dataSp) => {
                    if(dataLsp.ID == dataSp.ID_LoaiSanPham && dem <= 4 ){ %>
                        <div class="col-sm-3"><a href="/customer/san-pham/chi-tiet/<%= dataLsp.ID %>/<%= dataSp.ID %>" style="color: black;">
                            <div class="card" style="width: 18rem; height: 100%; width: 100%;">
                            <img src="/admin/image/<%= dataSp.imgName %>" class="card-img-top" id="NgoaiNhap1" alt="..." style="max-height: 450px; margin-top: 8px; padding: 10px 10px;">
                            <div class="card-body" style="font-family:verdana;">
                                Tên: <%= dataSp.TenSanPham %><br>
                                Thể loại: <%= dataSp.XuatXu %><br>
                                Giá bán: <%= dataSp.GiaBan %> VND<br>
                                Số lượng còn:  <%= dataSp.SoLuong %>
                            </div>
                            </div></a>
                        </div>
                    <%  dem += 1
                    }
                }) %>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 10px 0px;">
                <button class="btn btn-primary me-md-2" type="button" style="background: #FF6347;border-color: #FF6347;"><a href="/customer/san-pham/loai-san-pham/<%= dataLsp.ID %>">Xem tất cả <i class="fa fa-arrow-right" aria-hidden="true"></i></a></button>
            </div>
        </div>
    <% }) %>
        
</body>
