<div class="container">
    <% if(!dataSp[0]) { %>
        <p style="text-align: center;">Không có sản phẩm cần tìm</p>
    <% } else { %>
    <div class="Tieu_de" style="margin-top: 10px;">
        <div>
            Tìm kiếm: <%= title %>
        </div>
    </div>
    <div class="row">
        <% dataSp.forEach((datasp) => {
            %>
                <div class="col-sm-3"><a href="/customer/san-pham/chi-tiet/<%= datasp.ID_LoaiSanPham %>/<%= datasp.ID %>" style="color: black;">
                    <div class="card" style="width: 18rem;">
                    <img src="/admin/image/<%= datasp.imgName %>" class="card-img-top" id="NgoaiNhap1" alt="..." style="max-height: 450px">
                    <div class="card-body">
                        Tên: <%= datasp.TenSanPham %><br>
                        Thể loại: <%= datasp.XuatXu %><br>
                        Giá bán: <%= datasp.GiaBan %> VND<br>
                        Số lượng:  <%= datasp.SoLuong %>kg
                    </div>
                    </div></a>
                </div>
            <%  
        }) %>
    </div>
    <% } %>
</div>